<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- CSS files -->
     <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body>
    <h1>{{page_title}}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('home') }}" method="GET">
        <button type="submit">Go to Home</button>
    </form>
    <form action="" method="POST">
        <button type="submit">Refresh Data</button>
    </form>    
    <ul>
        {% for article in articles %}
        <li class="article-bubble">
            <a href="{{ article[3] }}" target="_blank">{{ article[0] }}</a> - {{article[2]}} Published on {{ article[1] }}
        </li>
        {% endfor %}
    </ul>

    <p>Page last loaded at: {{ current_time }}</p>

</body>
</html>