<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <button onclick="history.back()">Go Back</button>  <!-- Back button -->
    <form action="" method="post">
        <button type="submit">Refresh Data</button>
    </form>    
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ article[3] }}" target="_blank">{{ article[0] }}</a> - {{article[2]}} Published on {{ article[1] }}
        </li>
        {% endfor %}
    </ul>

    <p>Page last loaded at: {{ current_time }}</p>

</body>
</html>