<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streets Talk</title>
    <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body>
    <section class="hidden">
        <h1 class="title">ROAD</h1>
        <p>At the heart of the problem </p>
    </section>
    <section>
        <h2 class="hidden title">Categories</h2>
        <div class="logo">
            <a class="hidden logo" href="/knife-crime">
                <img src="{{ url_for('static', filename='images/knife.webp') }}" alt="Knife Crime">
            </a>
            
            <a class="hidden logo" href="/theft">
                <img src="{{ url_for('static', filename='images/theft.webp') }}" alt="Theft">
            </a>

            <a class="hidden logo" href="/drugs">
                <img src="{{ url_for('static', filename='images/drugs.webp') }}" alt="Drugs">
            </a>
        </div>
    </section>
    <script defer src="../static/JS/app.js"></script>
</body>
</html>